@font-face {
    font-family: 'apocalypse.regular';
    font-style: normal;
    font-weight: normal;
    src: local('apocalypse.regular'), url('apocalypse.regular.woff') format('woff');
}

@font-face {
    font-family: 'typewriter';
    font-style: normal;
    font-weight: normal;
    src: local('Typewriter - a602 (dead postman 2004)'), url('typewriter-a602-dead-postman-2004.regular.woff') format('woff');
}


/* CSS reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}


body {
    background-color: #171619;
    display: flex;
    box-sizing: border-box;
}

.hero {
    position: relative;
    width: 60vw;
    height: 100vh;
}

img {
    width: 100%;
    height: 100%;
}

#odin-logo {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 20px;
    left: 370px;
    transition: transform 0.3s ease-in-out;
}

#odin-logo:hover {
    transform: scale(1.1);
    opacity: 0.4;
}

.content {
    width: 40vw;
    height: 100vh;
    color: #D8D8D8;
    text-align: center;
}

h1 {
    font-size: 6rem;
    font-family: "apocalypse.regular";
    margin: 0.1em 0;
}

p {
    font-family: "typewriter";
    font-size: 1.4rem;    
}

form {
    font-family: "typewriter";
    font-size: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    vertical-align: baseline;
    border: 1px solid #D8D8D8;
    border-radius: 3px;
    padding: 10px;
    margin: 2em;
    gap: 8px;
    height: 60vh;
}

.form-input input {
    flex: 1;
    position: relative;
    min-height: 1px;
    padding: 20px 4px 2px;
    width: 100%;
    flex: 0 0 100%;
    border-radius: 4px;
}
