/* CSS reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

body {
    background-color: #171619;
    display: flex;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

.hero {
    width: 60vw;
    height: 100vh;
}

.content {
    width: 40vw;
    height: 100vh;
}

h1 {
    color: white;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
